<header class="container">
    <img class="img-fluid w-45" src="images/logo.png" alt="Categoría 1">
</header>
<main>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="category">
                    <a href="aventura.html">
                        <img class="img-fluid" src="images/aventura.jpg" alt="Categoría 1">
                        <h2>Aventura</h2>
                    </a>
                </div>
                <div class="category">
                    <a href="rol.html">
                        <img class="img-fluid" src="images/rol.jpg" alt="Categoría 2">
                        <h2>Rol</h2>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="category">
                    <a href="recreativos.html">
                        <img class="img-fluid" src="images/recreativo.jpg" alt="Categoría 3">
                        <h2>Recreativos</h2>
                    </a>
                </div>
                <div class="category">
                    <a href="familia.html">
                        <img class="img-fluid" src="images/familia.jpg" alt="Categoría 4">
                        <h2>Familiares</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container ">
        <p class="fw-bold">© 2024 DiversiónEnTablero. Todos los derechos reservados.</p>
    </div>
</footer>