<div class="container login-container">
    <h1 class="text-center mb-4">Hola {{ nombre }}</h1>
    <form>
        <div class="mb-3" *ngIf="edad < 55">
            <label for="usuarioEmail" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="usuarioEmail" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico"
            [(ngModel)]="correo" name="correo">
        </div>
        <div class="mb-3">
            <label for="usuarioPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="usuarioPassword" placeholder="Ingresa tu contraseña"
            [(ngModel)]="clave" name="password">
        </div>
        <div class="mb-3 text-center">
            <a href="">Olvidaste tu contraseña</a>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
        <button class="btn btn-primary" (click)="goToHome()"> Ir al Home</button>
    </form>
    <div class="text-center">
        <a href="">Registrarse</a>
    </div>
</div>
<ul>
    <li *ngFor="let item of listaDeElementos">{{ item }}</li>
</ul>